*{
    box-sizing: border-box;
}
/* Small devices lay out */
@media screen and (max-width: 640px) {
    .navBar{
        width: 100%;
        padding: 20px 10px;
    }
    .navBarHeader img{
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
    }
    .header_logo{
        font-size: 1.1rem;
        line-height: 1.1rem;
        margin-left: 5px;
    }
    #nav_right{
        gap: 5px;
    }
    #cBTN{
        width: 60px;
        font-size: 12px;
    }
    #nav_right > div{
        width: 70px;
    }
    #nav_right img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    #banner{
        width: 100%;
        padding: 20px 10px;
    }
    #banner img{
        height: 70px;
        width: 70px;
    }
    #banner h2{
        font-size: 1.2rem;
    }
    #banner p{
        font-size: 0.8rem;
    }
/* card container */
     #cardContainer{
        width: 100%;
        margin-left: 3%;
        grid-template-columns: 1fr;
    }
    
/* card start */
    .card{
    width: 100%;
    }
    
   .btn_down button{
        width: 140px;
    }
/* card end */

    .main_section{
        grid-template-columns: 1fr;
        margin: 0;
    }
   
    .side_bar{
        width: 100%;
        margin-left: 3%;
    }
}
